@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-amiri: "Amiri", serif;
}

body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-amiri), serif;
}

/* RTL Support */
[dir="rtl"] {
  text-align: right;
}

[dir="rtl"] .rtl\:space-x-reverse {
  --tw-space-x-reverse: 1;
}

[dir="rtl"] .rtl\:ml-auto {
  margin-left: auto;
  margin-right: unset;
}

[dir="rtl"] .rtl\:mr-auto {
  margin-right: auto;
  margin-left: unset;
}

.radix-dropdown-menu-content {
  z-index: 50 !important;
}

